*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none !important;
}
.main-section {
    padding-bottom: 20px;
    background-color: #F7F7F7;
    padding-top: 50px;
}

.img-group {
    padding-bottom: 50px;
    background-color: #fff;
}
.sidebar {
    background-color: #fff;
}
.sidebar ul{
    padding: 0;
}
.sidebar ul li .widget{
    font-size: 15px;
    padding: 7px 5px;
}
.leater {
    font-size: 15px;
    text-transform: capitalize;
    color: #222;
    padding-bottom: 2px;
}
.decor {
    border-bottom: 1px solid #df2c2c;
}

.sidebar ul li .widget .svg-inline--fa{
    font-size: 9px !important;
    margin-right: 5px;
}
.widget {
    display: block;
    color: #666;
}
.widget:hover{
color:  #d2b829;
}
.bcm-authr {
    background: #fff;
}
.bcm-authr ul li .widget{
    font-size: 15px;
    padding: 7px 5px;
}
.btn{
    background-color: #000 !important;
    color: #fff;

}
.btn:hover{
    background-color: #000 !important;
    color: #fff;

}