* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* topheadicon section start*/
#topheadicon {
    position: relative;
}

#topheadicon li {
    border-right: 1px solid #ddd;
    position: relative;
}

#topheadicon li a {
    padding: 2px 5px;
    color: #86C425;
    margin: 0px 5px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.2s ease-in;

}

#topheadicon li:hover a {
    color: #EDA827;
    transform: translateY(-8px);

}

#topheadicon #button .btn {
    background-color: #EDA827;
    color: #fff;
    transition: all 0.5s 0.1s ease-in;
    font-weight: bold;
}

#topheadicon #button .btn:hover {
    background-color: #86C425;
}

#topheadicon hr {
    margin: 0px;
    padding: 0px;
}

/*topheadicon section end*/
header{
    box-shadow: 0px 4px 10px 0 gainsboro;
}
#navbarfix {
    width: 100%;
}

#navbarfix .navbar-nav {
    margin: 0px 60px 0px 0px;
}

#navbarfix .navbar-nav li {
    margin: 0px 20px;
}


#navbarfix #nav-1 {
    color: #000;
    transition: 0.2s;
    border: none;
    font-weight: 500;

}

#navbarfix #nav-1:hover {
    color: #86C425;
    background: transparent;
    border-right: 2px solid #86C425;
    border-left: 2px solid #86C425;

}

#navbarfix .navbar-brand {
    margin-left: 40px;

}

#navbarfix .navbar-toggler {
    color: #EDA827;
    border: none;
}

#navbarfix .navbar-toggler-icon {
    display: none;
}

/* login btn */
#login button {
    transition: all 0.3s 0.1s;
    background-color: #EDA827;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#login button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#login button:hover {
    background-color: #86C425;
}

/* login btn*/
/* Nav close */

/* banner section start */
#banner .carousel-inner img {
    height: 450px;
}

#banner .carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    opacity: 0.6;
}

#banner .carousel-indicators [data-bs-target].active {
    background-color: #EEAA23;
    opacity: 1;
}

/* banner section end */
/* main section start */
/* left side */
.list-menu{
    box-shadow: 0 4px 5px 0 rgba(167, 167, 167, 0.75);
    padding: 0;
}
.list-menu li{
    border-bottom: 1px solid #e2e2e2;
    background-color: #fbfbfb;
    font-weight: 500;
    list-style: none;
}
.list-menu .list-heading{
    padding: 17px 20px;
    background-color: #157AC3;
    transition: all 0.5s;
    color: white;
}
.list-menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 14px 20px;
}
.list-menu li a::before{
    font-family: 'Font Awesome 6 Free';
    content: '\f105';
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
    padding-right:10px;
}
.list-menu li a.active {
    background-color: #FF6D00;
    transition: all 0.5s;
    color: white;
}
.list-menu li a:hover{
    background-color: #157AC3;
    color: white;
}
/* left side */
/* content  */
.scrollspy-example{
    height: 489px;
    overflow-y: auto;
}
/* content  */
/* main section end */











/* max-width : 768px */
@media screen and (max-width:768px) {
    #banner .carousel-inner img {
        height: 350px;
    }
}

/* max-width : 768px */

/* max-width : 576px */
@media screen and (max-width:576px) {
    #banner .carousel-inner img {
        height: 300px;
    }
}

/* max-width : 576px */